div.flex_div {
    width: 100%;
    max-width: max-content;
}

div.project_card h3 {
    min-height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

button.desc_btn {
    padding: 10px;
    float: right;
    cursor: pointer;
    background-color: transparent;
    color: var(--bg-color1);
    border: solid 2px var(--bg-color1);
    border-radius: 8px;
    transition: 0.2s ease;
}

button.desc_btn:hover {
    background-color: var(--bg-color1);
    color: var(--text-color1);
}

button.desc_btn, i.arrow_right {
    display: inline-block;
    vertical-align: middle;
}

h2.head_desc {
    display: none;
    font-size: clamp(20px, 24px, 30px);
    margin-bottom: 10px;
}

span.proj_desc {
    font-size: clamp(14px, 16px, 18px);
    margin-top: 10px;
    overflow-y: scroll;
}

.proj_desc_container, .proj_desc {
    display: none;
    overflow: hidden;
}

.proj_desc_container {
    margin-left: 40px;
    height: 100%;
    max-height: 360px;
    width: 100%;
    max-width: 300px;
    padding: 1rem;
    background-color: var(--bg-color3);
    border-radius: 8px;
    flex-direction: column;
    text-align: left;
    line-height: 1.5;
    color: var(--bg-color1);
}

.proj_desc_container.display {
    animation: opacityUp 0.3s ease forwards;
}

@keyframes opacityUp {
    from {
        max-width: 0;
        opacity: 0;
    }
    to {
        max-width: 300px;
        opacity: 1;
    }
}

.proj_desc_container.collapsed {
    animation: opacityDown 0.3s ease forwards;
}

@keyframes opacityDown {
    from {
        max-width: 300px;
        opacity: 1;
    }
    to {
        max-width: 0;
        opacity: 0;
    }
}

h2.head_desc.display {
    animation: opacityUpDesc 0.3s ease forwards;
}

@keyframes opacityUpDesc {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

h2.head_desc.collapsed {
    animation: opacityDownDesc 0.3s ease forwards;
}

@keyframes opacityDownDesc {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

span.proj_desc.display {
    animation: opacityUpDesc2 0.3s ease forwards;
}

@keyframes opacityUpDesc2 {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

span.proj_desc.collapsed {
    animation: opacityDownDesc2 0.3s ease forwards;
}

@keyframes opacityDownDesc2 {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

/* Mobile devices in Portrait */
@media only screen and (max-width: 767px) and (orientation: portrait) {
    .proj_desc_container {
        margin-left: auto;
        margin-right: auto;
        margin-top: 20px;
    }

    .proj_desc_container.display {
        animation: opacityUp 0.3s ease forwards;
    }
    
    @keyframes opacityUp {
        from {
            max-height: 0;
            opacity: 0;
        }
        to {
            max-height: 500px;
            opacity: 1;
        }
    }
    
    .proj_desc_container.collapsed {
        animation: opacityDown 0.3s ease forwards;
    }
    
    @keyframes opacityDown {
        from {
            max-height: 500px;
            opacity: 1;
        }
        to {
            max-height: 0;
            opacity: 0;
        }
    }

    h2.head_desc {
        justify-content: center;
    }

    span.proj_desc {
        text-align: center;
    }
}