@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --bg-color1: #333333;
  --bg-color2: #1a488b;
  --bg-color3: #fafafa;
  --text-color1: #ffffff;
  --text-color2: #cccccc;
  --text-description: #646464;
  --highlight: #ebe700;
  --blue-highlight1: #0f63e0;
  --blue-highlight2: #4992ff;
  --border-color: #202020;
}

html {
  scroll-behavior: smooth;
  font-family: 'Poppins', 'Arial', 'sans-serif';
}

body {
  overflow-x: hidden;
}

input, textarea {
  font-family: 'Poppins', 'Arial', 'sans-serif';
  font-size: 14px;
}

header {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: var(--bg-color2);
  padding: 10px;
  position: fixed;
  height: 100%;
  max-height: 80px;
  width: 100%;
  z-index: 1000;
  transition: 0.3s ease;
}

/* header scroll behavior */
.header.scrolled {
  background-color: var(--bg-color1);
}
/* header scroll behavior */

/* navbar */
div.menuIcon_container {
  display: none;
  cursor: pointer;
  color: var(--text-color1);
}

div.menuIcon_container i {
  font-size: 40px;
}

nav ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  margin-left: 20px;
}
/* navbar */

nav a {
  width: 100%;
  height: auto;
  padding: 0.5rem;
  color: var(--text-color1);
  text-decoration: none;
  transition: 0.2s ease;
}

nav a:hover, nav a.active {
  color: var(--highlight);
  border-bottom: solid 2px var(--highlight);
}

img.logo {
  height: 100%;
  max-height: 40px;
  width: 100%;
  max-width: 40px;
  float: inline-start;
}

section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: auto;
  min-height: 100vh;
  width: 100%;
  color: var(--text-color1);
}

#about, #projects, #contact {
  display: flex;
  flex-direction: column;
  padding: 6rem 2rem 2rem 2rem;
}

.container {
  display: flex;
  flex-direction: column;
  height: auto;
  width: 100%;
}

.page {
  display: flex;
  flex-direction: column;
  height: auto;
  width: 100%;
  text-align: center;
  box-sizing: border-box;
}

.about_description {
  display: flex;
  flex-direction: row;
  margin-left: auto;
  margin-right: auto;
}

div.self_image {
  height: auto;
  max-height: 39.36rem;
  width: 100%;
  max-width: 26.24rem;
  margin: 2rem;
  border: solid 10px var(--text-color1);
  border-radius: 10px;
  overflow: hidden;
}

div.self_image > img {
  height: 100%;
  width: 100%;
  box-sizing: border-box;
}

div.desc {
  height: auto;
  width: 100%;
  max-width: 70rem;
  margin: 2rem;
  overflow: hidden;
}

div.profile-container {
  display: flex;
  flex-direction: column;
  gap: 0;
}

a.profile {
  text-decoration: none;
  color: var(--blue-highlight1);
  font-size: 14px;
  font-weight: 100;
  vertical-align: middle;
}

a.profile:visited {
  color: var(--blue-highlight1);
}

a.profile:hover {
  color: var(--blue-highlight2);
}

div.cert span.description a.underlined {
  text-decoration: underline;
}

.download_resume_btn {
  color: var(--text-color1);
  cursor: pointer;
  padding: 1rem;
  border: none;
  font-size: 18px;
  max-width: max-content;
  background: linear-gradient(to left, var(--blue-highlight1) 50%, var(--text-color1) 50%);
  background-size: 200% 100%;
  background-position: right bottom;
  transition: background-position 0.3s ease;
  text-decoration: none;
}

.download_resume_btn:hover {
  color: var(--bg-color1);
  background-position: left bottom;
}

.proj_container {
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

.project_cards {
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  transition: transform 0.4s ease;
}

.project_card {
  width: 100%;
  max-width: 280px;
  background-color: var(--text-color1);
  padding: 20px;
  margin: 10px;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  overflow: hidden;
  transition: transform 0.5s ease, filter 0.4s ease, max-width 0.4s ease;
}

/* Expand Project Card Animation */
@keyframes slideRight {
  from {
    max-width: 290px;
  }
  to {
    max-width: 39%;
  }
}

.project_card.expandRight {
  animation: slideRight 0.4s ease forwards;
}

@keyframes slideLeft {
  from {
    max-width: 39%;
  }
  to {
    max-width: 290px;
  }
}

.project_card.collapseLeft {
  animation: slideLeft 0.4s ease forwards;
}
/* Expand Project Card Animation */

/* .project_card:hover {
  transform: scale(1.1, 1.1);
}

.project_cards:hover > .project_card:not(:hover) {
  filter: brightness(0.5);
  transform: scale(0.9, 0.9);
} */

.project_card img {
  width: 100%;
  max-width: 250px;
  height: 14rem;
  object-fit: cover;
  border-radius: 8px;
  background-color: var(--bg-color1);
}

.project_card h3 {
  font-size: 1em;
  margin: 10px 0;
  color: var(--bg-color1);
  width: 100%;
  max-width: 250px;
  word-wrap: break-word;
  white-space: normal;
  text-align: center;
}

.project_card p {
  font-size: 1em;
  color: var(--text-description);
  max-width: 300px;
  word-wrap: break-word;
  white-space: normal;
  text-align: center;
}

#home, #projects {
  background-color: var(--bg-color2);
}

#about, #contact {
  background-color: var(--bg-color1);
}

h1 {
  font-size: 3.5rem;
}

.home_subText {
  font-size: 1.5rem;
  font-style: italic;
  color: var(--text-color1);
}

.home_subText span#typing-text {
  display: inline-block;
  white-space: nowrap;
  border-right: 2px solid;
  padding-right: 4px;
  color: var(--highlight);
  animation: blink-caret .5s step-end infinite alternate;
}

@keyframes blink-caret {
  from, to {
    border-color: transparent;
  }
  50% {
    border-color: var(--highlight);
  }
}

.skills {
  display: flex;
  flex-direction: row;
}

.skills > .soft, .skills >  .hard {
  width: 100%;
  max-width: 450px;
}

.contact_info {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  height: auto;
  min-height: 30rem;
  width: 70%;
  margin: 0 auto;
  box-sizing: border-box;
}

.side_text {
  display: flex;
  flex-direction: column;
  height: auto;
  min-height: 30rem;
  width: 50%;
}

.side_text > span, .side_text > a,
a.profile {
  width: fit-content;
}

span.place, span.email, span.call, span.link,
span.skill, span.cert {
  height: 24px;
  width: 24px;
}

span.achievement {
  height: 20px;
  width: 20px;
}

span.achievement > i {
  font-size: 20px;
  margin-top: 0;
}

div.place, div.email, div.call, div.link {
  margin-left: 2rem;
}

.cert {
  margin-top: 0.2rem;
}

.place, .email,
.call, .link,
.skill, .cert,
.achievement {
  display: inline-block;
  vertical-align: middle;
}

.side_title {
  font-size: 3rem;
}

div.side_text_container {
  margin-bottom: 1rem;
}

.blue_text {
  color: var(--blue-highlight1);
}

a.link, a.email, a.place {
  color: var(--text-color1);
  text-decoration: none;
}

a.link:visited, a.email:visited, a.place:visited {
  color: var(--text-color1);
}

a.link:hover, a.email:hover, a.place:hover {
  color: var(--blue-highlight1);
}

.contact-form {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  height: auto;
  min-height: 30rem;
  width: 35%;
  background-color: var(--bg-color1);
  border: solid 2px var(--border-color);
  border-radius: 10px;
  padding: 2rem;
  box-sizing: border-box;
}

.sender_input {
  height: auto;
  max-height: 400px;
  width: 100%;
  max-width: 100%;
  padding: 0.6rem;
  border: solid 2px var(--blue-highlight1);
  box-sizing: border-box;
}

.sender_input:focus {
  border: solid 2px var(--highlight);
  outline: none;
}

textarea.sender_input {
  min-height: 200px;
}

/* Checkbox Styles */
.label {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.checkbox {
  border: solid 2px var(--blue-highlight1);
  height: 20px;
  width: 20px;
  cursor: pointer;
  accent-color: var(--blue-highlight1);
}
/* Checkbox Styles */

.privacy_desc {
  color: var(--text-color2);
  font-style: italic;
  font-size: 14px;
  margin-left: 10px;
}

.buttons {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 30px;
}

.submit_btn {
  color: var(--text-color1);
  cursor: pointer;
  background-color: var(--blue-highlight1);
  padding: 0.5rem;
  border: none;
  width: 100%;
  background: linear-gradient(to left, var(--blue-highlight1) 50%, var(--text-color1) 50%);
  background-size: 200% 100%;
  background-position: right bottom;
  transition: background-position 0.3s ease, outline-offset 0.1s ease;
}

.submit_btn:hover {
  color: var(--bg-color1);
  background-position: left bottom;
}

.clear_btn {
  color: var(--text-color1);
  cursor: pointer;
  background-color: transparent;
  padding: 0.5rem;
  border: solid 2px var(--blue-highlight1);
  width: 100%;
  background: linear-gradient(to left, transparent 50%, var(--blue-highlight1) 50%);
  background-size: 200% 100%;
  background-position: right bottom;
  transition: background-position 0.3s ease, outline-offset 0.1s ease;
}

.clear_btn:hover {
  color: var(--text-color1);
  background-position: left bottom;
}

/* Contact Clear Form Button Swal Styles */
.swal-ul {
  list-style-type: disc;
  margin: 0 0 0 50px;
}

.swal-ul .swal-li {
  font-size: 16px;
  line-height: 1.5;
  width: 100px;
  text-align: left;
  margin-left: auto;
  margin-right: auto;
}

.swal-p {
  font-size: 18px; 
  margin-bottom: 10px;
}
/* Contact Clear Form Button Swal Styles */

hr {
  height: 2px;
  background-color: var(--highlight);
  border: none;
}

/* FOOTER */
footer {
  height: 100px;
  width: 100%;
  background-color: var(--bg-color1);
  color: var(--text-color2);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 40px;
}


/* MEDIA */
@media screen and (max-width: 1080px) and (min-width: 768px) {
  .proj_container {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: .5fr .5fr;
    grid-template-areas: "project_card" "project_card";
    row-gap: 2rem;
  }

  .contact_info {
    display: flex;
    flex-direction: column;
    margin: 20px;
    width: 80%;
  }

  .side_text {
    width: 100%;
  }

  .contact-form {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }

  .skills {
    display: flex;
    flex-direction: column;
  }
}

/* Mobile devices in Portrait */
@media only screen and (max-width: 767px) and (orientation: portrait) {
  header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    max-height: 60px;
    padding: 0 10px;
  }

  header.expand-menu {
    max-height: 260px;
    background-color: var(--bg-color1);
  }

  div.img_container {
    display: flex;
    align-items: center;
    height: 60px;
    width: 60px;
  }
  
  /* Menu */
  nav {
    position: absolute;
    top: 60px;
    width: 100%;
    max-width: 90%;
  }

  nav ul {
    display: none;
    flex-direction: column;
    padding: 10px;
    overflow: hidden;
  }

  nav ul li {
    margin: 10px 0;
    text-align: center;
  }

  div.menuIcon_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 60px;
    width: 60px;
    overflow: hidden;
    color: var(--text-color1);
  }

  div.menuIcon_container i {
    height: 40px;
    width: 40px;
    margin: 0 auto;
  }

  ul.show-menu {
    display: flex;
    max-width: 100%;
  }

  ul.expanded {
    display: flex;
    animation: downward 0.3s ease forwards;
  }

  @keyframes downward {
    from {
      height: 0px;
      opacity: 0;
    }
    to {
      height: 200px;
      opacity: 1;
    }
  }

  ul.collapsed {
    animation: upward 0.2s ease forwards;
  }

  @keyframes upward {
    from {
      height: 200px;
      opacity: 1;
    }
    to {
      height: 0px;
      opacity: 0;
    }
  }
  /* Menu */
  
  #about, #projects, #contact {
    padding-top: 4rem;
  }
  
  .about_description, .self_image > img,
  .profile-container, div.desc span.center_mobile,
  .proj_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .proj_container {
    width: 100%;
    padding: 5px;
  }

  .project_cards {
    height: 100%;
    gap: 20px;
  }

  .project_card {
    flex-direction: column;
  }

  div.self_image {
    margin-bottom: 1rem;
    height: 70%;
    width: 70%;
  }

  div.self_image, div.desc {
    margin-top: 1rem;
  }

  div.desc span.center_mobile {
    text-align: center;
  }

  div.achievements, div.skills, div.certificates {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    margin: 0 auto;
  }

  div.credentials_container, div.side_text_container {
    max-width: 100%;
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-bottom: 5px;
  }

  a.link {
    text-decoration: underline;
  }

  span.achievement, div.achievement,
  span.skill, div.skill,
  span.cert, div.cert {
    font-size: 14px;
  }

  div.soft {
    margin-bottom: 10px;
  }

  .download_resume_btn {
    max-width: 100%;
  }

  .container > .page, #contact > .page {
    margin-top: 6rem;
  }

  .contact_info {
    display: flex;
    flex-direction: column;
    margin: 20px;
    width: 100%;
  }

  .side_title {
    text-align: center;
  }

  .side_text {
    width: 90%;
    margin: 0 auto;
  }

  div.place, div.email, div.call, div.link {
    font-size: 14px;
  }

  .contact-form {
    width: 100%;
    margin: 0 auto;
  }

  .skills {
    display: flex;
    flex-direction: column;
  }

  div.link a {
    max-width: 200px;
    word-wrap: break-word;
    white-space: normal;
  }

  i.arrow_right {
    transform: rotate(90deg);
  }

  /* Expand Project Card Animation */
  @keyframes slideRight {
    from {
      max-height: 300px;
    }
    to {
      max-height: 39%;
    }
  }

  .project_card.expandRight {
    animation: slideRight 0.4s ease forwards;
  }

  @keyframes slideLeft {
    from {
      max-height: 39%;
    }
    to {
      max-height: 300px;
    }
  }

  .project_card.collapseLeft {
    animation: slideLeft 0.4s ease forwards;
  }
  /* Expand Project Card Animation */
}