@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', 'Arial', 'sans-serif';
}

:root {
    --bg-color: #ffffff;
    --bg-color2: #1a488b;
    --bg-color3: #303030;
    --text-color: #303030;
    --text-color2: #616161;
    --text-color3: #ffffff;
    --text-highlight: #1a488b;
    --text-highlight2: #135ac5;
    --text-highlight3: #ebe700;
    --shadow-color: rgba(0, 0, 0, 0.2);
}

html {
    scroll-behavior: smooth;
}

body {
    overflow-x: hidden;
}

a, button {
    cursor: pointer;
}

h1 {
    font-size: 3.5rem;
}

h2 {
    color: var(--text-color);
}

.flex_div h3 {
    margin: 10px auto 0 auto;
    font-size: 1.7rem;
}

header {
    display: flex;
    align-items: center;
    position: fixed;
    height: 100%;
    max-height: 80px;
    width: 100%;
    margin-top: 20px;
    z-index: 1000;
}

.header-content {
    display: flex;
    align-items: center;
    background-color: var(--bg-color);
    padding: 30px;
    height: 100%;
    width: 100%;
    max-width: 50%;
    margin: 0 auto;
    border-radius: 50px;
    border: solid 2px var(--bg-color2);
    transition: 0.3s ease;
}

nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

nav ul {
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    margin: auto 10px;
}

nav ul li {
    margin: auto 10px;
}

nav ul li a {
    position: relative;
    width: 100%;
    height: auto;
    padding: 0.5rem;
    font-size: 1.2rem;
    color: var(--text-color);
    text-decoration: none;
    transition: color 0.2s ease;
}

nav ul li a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0%;
    height: 2px;
    background-color: var(--text-highlight);
    transition: width 0.2s ease;
}

nav ul li a:hover, nav ul li a.active {
    color: var(--text-highlight);
}

nav ul li a:hover::after {
    width: 100%;
    background-color: var(--text-highlight);
}

img.logo {
    height: 100%;
    max-height: 40px;
    width: 100%;
    max-width: 40px;
    float: inline-start;
}

section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    min-height: 100vh;
    width: 100%;
    color: var(--text-color3);
}

#home {
    background-color: var(--bg-color2);
}

.aspiring_container {
    display: flex;
    flex-direction: row;
    margin: 0 auto;
}

.home_subText {
    font-size: 1.5rem;
    font-style: italic;
    color: var(--text-color1);
}

/* Optimize the animation. */
.typing-text {
    margin-left: 0.4rem;
    color: var(--text-highlight3);
    font-size: 1.5rem;
    font-style: italic;
}

.custom-cursor {
    color: var(--text-highlight3);
    animation: blink .5s step-end infinite alternate;
}

@keyframes blink {
    from, to {
        border-color: transparent;
    }
    50% {
        border-color: var(--text-highlight3);
    }
}
/* Optimize the animation. */

#about, #projects, #contact {
    display: flex;
    flex-direction: column;
    padding: 8rem 2rem 2rem 2rem;
}

.container {
    display: flex;
    flex-direction: column;
    height: auto;
    width: 100%;
}

.page {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    height: auto;
    width: 100%;
    max-width: max-content;
    text-align: center;
}

.about_description {
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    color: var(--text-color);
    width: 100%;
    max-width: max-content;
}

.self_image {
    height: 100%;
    max-height: 41rem;
    width: auto;
    margin: 2rem;
    padding: 0.5rem;
    border-radius: 10px;
    border: solid 10px var(--bg-color3);
}

.desc {
    height: auto;
    width: 100%;
    max-width: 70rem;
    margin: 2rem;
    overflow: hidden;
}

.profile-container {
    display: flex;
    flex-direction: column;
    gap: 0;
}

.profile {
    text-decoration: none;
    color: var(--text-highlight2);
    font-size: 0.9rem;
    font-weight: 900;
    vertical-align: middle;
    width: 100%;
    max-width: max-content;
}

.profile:visited {
    color: var(--text-highlight2);
}

.center_mobile {
    width: 100%;
    max-width: max-content;
}

.achievements, .skills {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.certificates {
    width: 100%;
    columns: 300px;
    margin-top: 1rem;
}

.cert_container {
    display: flex;
    margin-bottom: 1rem;
}

.view_cert_btn {
    position: relative;
    background-color: transparent;
    border: none;
}

.credentials_container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    flex-basis: 300px;
    justify-content: center;
    align-items: center;
    line-height: 1.3;
    text-align: center;
    height: 100%;
    min-height: 6rem;
    width: 100%;
    max-width: 30%;
    margin: 1rem;
    padding: 1rem;
    border-radius: 10px;
    background-color: var(--bg-color);
    box-shadow: 2px 4px 8px var(--shadow-color);
}

.cert_image {
    height: auto;
    width: 100%;
    max-width: 600px;
    transition: filter 0.3s ease;
}

.view_cert_btn:hover .cert_image {
    filter: blur(4px);
}

.view_btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    visibility: hidden;
    -webkit-backdrop-filter: blur(8px);
    backdrop-filter: blur(8px);
    border: solid 2px var(--bg-color3);
    border-radius: 5px;
    color: var(--text-color);
    padding: 10px 20px;
    font-size: 16px;
    text-transform: uppercase;
    transition: opacity 0.3s ease, visibility 0.3s ease;
}

.view_cert_btn:hover .view_btn {
    opacity: 1;
    visibility: visible;
}

.description {
    color: var(--text-color);
    font-size: 1rem;
    font-weight: 800;
}

.subText {
    color: var(--text-color2);
    font-size: 0.9rem;
    font-weight: 400;
}

.download_resume_btn {
    display: flex;
    justify-content: center;
    color: var(--text-color3);
    padding: 1rem;
    border: none;
    font-size: 1.1rem;
    width: 100%;
    max-width: 25%;
    background: linear-gradient(to left,
        var(--bg-color3) 33.33%, 
        var(--text-highlight2) 33.33%, 
        var(--text-highlight2) 66.66%, 
        var(--bg-color2) 66.66%
    );
    background-size: 300% 100%;
    background-position: right bottom;
    transition: background-position 0.6s ease;
    text-decoration: none;
}

.download_resume_btn:hover {
    background-position: left bottom;
}

.download_resume_btn i {
    margin-left: 0.5rem;
    font-size: larger;
}

.proj_container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    height: auto;
    width: 100%;
}

.project_card {
    display: flex;
    flex-direction: row;
    color: var(--text-color);
    height: auto;
    width: 100%;
    max-width: 90%;
    margin: 0 auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 2px 4px 8px var(--shadow-color);
    overflow: hidden;
}

.flex_div {
    display: flex;
    flex-direction: column;
    height: auto;
    width: 100%;
    max-width: 50%;
}

.proj_image {
    height: auto;
    width: 100%;
    margin: 0 auto;
    border-radius: 10px;
}

.proj_desc_container {
    display: flex;
    flex-direction: column;
    height: auto;
    width: 100%;
    max-width: 50%;
    padding: 20px;
}

.head_desc {
    font-size: 2rem;
}

.proj_desc, .head_tech {
    font-size: 1.3rem;
}

.technologies {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

.tech_used {
    color: var(--text-color3);
    background-color: var(--text-color2);
    padding: 0.4rem 1rem 0.4rem 1rem;
    margin: 0.4rem;
    border-radius: 50px;
    width: 100%;
    max-width: max-content;
    text-align: center;
}

.tech_used:hover {
    background-color: var(--bg-color3);
}

.github-repo-btn {
    display: flex;
    justify-content: center;
    height: auto;
    width: 100%;
    max-width: 30%;
    padding: 1rem;
    border: solid 2px var(--bg-color3);
    background: linear-gradient(to left,
        var(--bg-color) 33.33%, 
        var(--bg-color2) 33.33%, 
        var(--bg-color2) 66.66%, 
        var(--bg-color3) 66.66%
    );
    background-size: 300% 100%;
    background-position: right bottom;
    transition: background-position 0.6s ease, color 0.4s ease;
    color: var(--text-color);
    font-weight: 500;
}

.github-repo-btn:hover {
    background-position: left bottom;
    color: var(--text-color3);
    font-weight: 100;
}

.github-repo-btn i {
    margin-left: 0.5rem;
    font-size: larger;
}

/* MINI PROJECTS */
.mini_proj_container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    height: auto;
    width: 100%;
    max-width: max-content;
}

.mini_project_card {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    flex-basis: 300px;
    color: var(--text-color);
    height: auto;
    width: 100%;
    max-width: 20%;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 2px 4px 8px var(--shadow-color);
    overflow: hidden;
}

.mini_flex_div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: auto;
    width: 100%;
    max-width: max-content;
}

.mini_proj_image {
    height: auto;
    width: 100%;
    margin: 0 auto;
    border-radius: 10px;
}

.mini_title {
    font-size: 1.5rem;
}

.mini_proj_desc_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    width: 100%;
    padding: 20px;
}

.mini-between-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    width: 100%;
}

.mini-visit-site-btn {
    height: auto;
    width: 100%;
    padding: 0.5rem;
    border: none;
    border-radius: 10px;
    border: solid 2px var(--bg-color3);
    background-color: var(--bg-color3);
    color: var(--text-color3);
}

.mini-visit-site-btn:hover {
    background-color: var(--text-color2);
    border: solid 2px var(--text-color2);
}

.mini-github-repo-btn {
    height: auto;
    width: 100%;
    padding: 0.5rem;
    border: none;
    border-radius: 10px;
    border: solid 2px var(--bg-color3);
    background: var(--bg-color);
    color: var(--text-color);
}

.mini-github-repo-btn:hover {
    background-color: var(--bg-color3);
    color: var(--text-color3);
}

.mini_head_tech {
    font-size: 1rem;
}

.mini_tech_used {
    color: var(--text-color3);
    background-color: var(--text-color2);
    padding: 0.2rem 0.6rem 0.2rem 0.6rem;
    margin: 0.4rem;
    border-radius: 50px;
    width: 100%;
    max-width: max-content;
    text-align: center;
    font-size: 1rem;
}

.mini_tech_used:hover {
    background-color: var(--bg-color3);
}

button.mini-visit-site-btn, button.mini-github-repo-btn {
    margin: 0.2rem auto;
}
/* MINI PROJECTS */

.contact_info {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 30px;
    height: auto;
    width: 100%;
    color: var(--text-color);
}

.side_text_container {
    display: flex;
    flex-direction: row;
}

.side_text {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.infos {
    display: flex;
    align-items: center;
    margin-left: 1rem;
}

.side_title {
    font-size: 3.8rem;
}

.blue_text {
    color: var(--text-highlight2);
}

.contact_info_container a, .contact_info_container span{
    color: var(--text-color);
    text-decoration: none;
}

.contact_info_container a:hover {
    color: var(--text-highlight2);
}

.contact-form {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    height: auto;
    width: 100%;
    max-width: 500px;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 2px 4px 8px var(--shadow-color);
    font-family: 'Poppins', 'Arial', 'sans-serif';
}

.contact-form label {
    font-size: 1.1rem;
}

.sender_input {
    padding: 0.8rem;
    border-radius: 10px;
    border: solid 2px var(--bg-color2);
    font-size: 1rem;
    font-family: 'Poppins', 'Arial', 'sans-serif';
}

textarea {
    height: 100%;
    min-height: 100px;
    max-height: 300px;
    min-width: 100%;
    max-width: 100%;
}

.label {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.checkbox {
    border: solid 2px var(--bg-color2);
    height: 20px;
    width: 20px;
    cursor: pointer;
    accent-color: var(--bg-color2);
}

.privacy_desc {
    margin-left: 10px;
}

.buttons {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 30px;
}

.submit_btn {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--text-color3);
    background-color: var(--bg-color2);
    padding: 0.5rem;
    border: none;
    width: 100%;
    background: linear-gradient(to left,
        var(--bg-color2) 33.33%,
        var(--text-color2) 33.33%,
        var(--text-color2) 66.66%,
        var(--bg-color3) 66.66%
    );
    background-size: 300% 100%;
    background-position: right bottom;
    transition: background-position 0.6s ease;
}

.submit_btn:hover {
    background-position: left bottom;
}

.submit_btn i {
    margin-left: 0.5rem;
    font-size: 22px;
}

.clear_btn {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--text-color);
    background-color: transparent;
    padding: 0.5rem;
    border: solid 2px var(--bg-color2);
    width: 100%;
    background: linear-gradient(to left,
        var(--bg-color) 33.33%, 
        var(--bg-color3) 33.33%, 
        var(--bg-color3) 66.66%, 
        var(--bg-color2) 66.66%
    );
    background-size: 300% 100%;
    background-position: right bottom;
    transition: background-position 0.6s ease, color 0.4s ease;
}

.clear_btn:hover {
    background-position: left bottom;
    color: var(--text-color3);

    /* i {
        transition: rotate 1s ease;
        rotate: -360deg;
    } */
}

.clear_btn i {
    margin-left: 0.5rem;
    font-size: 22px;
}

/* SWAL UL */
.swal-ul {
    list-style: none;
}

hr {
    height: 10px;
    background-color: var(--bg-color2);
    border: none;
}

footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 10px;
    height: 70px;
    width: 100%;
    color: var(--text-color3);
    background-color: var(--bg-color3);
}

/* For smaller screens */
@media only screen and (min-width: 768px) and (max-width: 1279px) {
    header {
        max-height: 60px;
        margin-top: 0;
    }

    .header-content {
        max-width: 100%;
        padding: 10px 40px 10px 40px;
        border-radius: 0;
        border-top: none;
        border-left: none;
        border-right: none;
        border-bottom: solid 2px var(--bg-color2);
    }

    img.logo {
        height: 100%;
        max-height: 30px;
        width: 100%;
        max-width: 30px;
    }

    nav ul, nav ul li {
        margin: 0;
    }

    nav a {
        font-size: 1rem;
    }

    h1 {
        font-size: 2.5rem;
    }

    .home_subText, .typing-text {
        font-size: 1rem;
    }
    
    .about_description {
        flex-direction: column;
    }

    .self_image {
        max-height: 28rem;
    }

    .desc {
        max-width: 100%;
    }

    .desc, .profile-container, .center_mobile {
        margin: 0 auto;
    }

    .profile-container, .center_mobile, h3 {
        text-align: center;
        align-items: center;
    }

    .center_mobile {
        max-width: 80%;
    }

    .credentials_container {
        flex-basis: 200px;
        min-height: 7rem;
    }

    .btn_container {
        width: 100%;
        max-width: 50%;
        margin: 0 auto;
    }

    .download_resume_btn {
        max-width: 100%;
        border-radius: 10px;
    }

    .project_card {
        flex-direction: column;
    }

    .mini_project_card {
        max-width: 50%;
    }

    .flex_div {
        max-width: 100%;
    }

    .proj_desc_container {
        max-width: 100%;
        align-items: end;
    }

    .head_desc {
        font-size: 1.7rem;
        align-self: center;
    }

    .proj_desc, .head_tech {
        font-size: 1.2rem;
        text-align: center;
        align-self: center;
    }

    .technologies {
        justify-content: center;
    }

    .tech_used {
        align-self: center;
    }

    .contact_info {
        flex-direction: column;
    }

    .side_title {
        font-size: 2.8rem;
        text-align: center;
    }

    .contact_info_container {
        margin: 0 auto;
    }

    .contact-form {
        max-width: 80%;
        margin: 0 auto;
    }
}

/* For Mobile Portrait */
@media only screen and (max-width: 767px) and (orientation: portrait) {
    header {
        margin-top: 0;
    }

    .header-content {
        max-width: 100%;
        border-radius: 0;
        padding: 14px;
        border-top: none;
        border-left: none;
        border-right: none;
        border-bottom: solid 2px var(--bg-color2);
    }

    /* TODO: Responsive navbar */
    nav ul, nav ul li {
        margin: 0;
    }

    h1 {
        font-size: 2.5rem;
    }

    .flex_div h3 {
        font-size: 1rem;
    }

    .home_subText, .typing-text {
        font-size: 1rem;
    }

    .about_description {
        flex-direction: column;
    }

    .self_image {
        max-height: 28rem;
    }

    .desc {
        max-width: 100%;
    }

    .desc, .profile-container, .center_mobile {
        margin: 0 auto;
    }

    .profile-container, .center_mobile, h3 {
        text-align: center;
        align-items: center;
    }

    .credentials_container {
        max-width: 100%;
    }

    .btn_container {
        margin: 0 1rem 1rem 1rem;
    }

    .download_resume_btn {
        max-width: 100%;
        border-radius: 10px;
    }

    .project_card {
        flex-direction: column;
        max-width: 100%;
    }

    .mini_project_card {
        max-width: 90%;
    }

    .mini_title {
        font-size: 1.2rem;
    }

    .flex_div, .proj_desc_container {
        max-width: 100%;
    }

    .head_desc {
        font-size: 1.2rem;
    }

    .proj_desc, .head_tech {
        font-size: 1rem;
        text-align: center;
    }

    .technologies {    
        align-items: center;
        justify-content: center;
    }

    .tech_used, .mini_tech_used {
        font-size: 0.8rem;
        margin: 0.2rem;
    }

    .github-repo-btn {
        max-width: 100%;
    }

    .contact_info {
        flex-direction: column;
    }

    .side_text {
        padding: 0;
    }

    .side_title {
        font-size: 1.9rem;
        text-align: center;
    }

    .contact_info_container {
        margin: 0 auto;
    }

    .contact_info_container a, .contact_info_container span {
        font-size: 0.8rem;
    }

    .contact-form {
        padding: 20px;
        margin: 0 auto;
    }

    .contact-form label {
        font-size: 0.9rem;
    }

    .sender_input {
        padding: 0.4rem;
        font-size: 0.8rem;
    }
}

